@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

html,
body{
	height: 100%;
	width: 100%;
	font-family: "paralucent", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	font-weight: 400;
    background: #fff;
}

header{
	height: 79px;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    position: absolute;
    z-index: 500;
    transform: translateY(0);
    transition: all .4s ease;
}

/* début de menu */

#menu {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
}

#profile {
    margin: 80px 30px 0 40px;
}

.fp-viewing-screen1 header{
    transform: translateY(-100%);
}

.topbar{
    height: 40px;
    position: absolute;
    top: 30px;
    left: 60px;
    right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* bouton retour à intégrer au JS pour certains écrans : defi-activated, later, never */

.topbar .back {
    font-weight: 400;
    font-family: "paralucent", "Helvetica Neue", Helvetica, Arial, sans-serif;
    opacity: 1;
    font-size: 16px;
    color: #028777;
}

.topbar .back:before {
    content: '\2329';
	display: inline-block;
    left: -25px;
    position: absolute;
}

.topbar img{
    height: 18px;
    display: flex;
}

.slider{
}

.section{
    padding-top: 110px;
	transition: all ease .4s;
    position: relative;
}

.section.hasback{
    padding-top: 150px;
}

.btn-back{
    opacity: 0;
    transform: translateY(-100%);
    position: absolute;
    left: 40px;
    top: -40px;
}

.section.hasback .btn-back{
    opacity: 1;
    transform: translateY(0);
}

h3, p, .sub-btns{
    margin-bottom: 30px;
    display: block;
    transition: all ease .4s;
}

h3{
    font-size: 34px;
    font-weight: 700;
    line-height: .87;
    color: #028777; 
}

p{
    line-height: 1.1;
    font-size: 24px;
    color: #444;
}

p.sm{
    font-size: 14px;
}

p a{
    color: inherit;
    border-bottom: 2px solid;
}


.section.nextday {
    background: #000 !important;
    color: #fff !important;
}




.section:before{
    transition: all ease 1s;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #00A693, #10C60C);
    opacity: 0;
}

.section.home:before, 
.section.alt:before,
.section.started:before{
    opacity: 1;
}

.section.home,
.section.alt,
.section.started,
.section.home h3,
.section.alt h3,
.section.started h3,
.section.home p,
.section.alt p,
.section.started p{
    color: #fff;
}


.never-btns,
.btn-success{
    transform: translateX(-100%);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 
}

.start-btns{
    position: relative;
}

.section.started .btn-success{
    transform: translateX(0);
    opacity: 1;
}

.section.started .btn-start{
    transform: translateX(100%);
    opacity: 0;
}

.sub-btns{
    transform: translateY(0);
    opacity: 1;
    transition: all ease .4s;
}

.section.started .sub-btns{
    transform: translateY(10%);
    opacity: 0;
}

.section.started .btn-more{
    opacity: .6;
}

.defi-expired h3, .defi-expired p.sm{
    opacity: .4;
}


.section.home .logo{
    margin-bottom: 50px;
}
.section.home p{
    color: #fff;
    
}

.screen{
    position: relative;
    padding: 0 30px 0 40px;
}


.impact .btn{
    display: block;
}

.green {
    color: #028777;
    border-bottom: #028777;
}

.white {
    color: #fff;
    border-bottom: #fff;
}

.label-positionner{
    width: 200px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: -190px;
    transform: rotate(-90deg);
    transform-origin: top right;
    text-align: right;
}


.label{
    width: 100%;
    white-space: nowrap;
    position: absolute;
    right: 0;
    top: 0;
}

.btn {
	font-weight: 700;
	font-size: 20px;
    color: #028777;
    border: 0;
    line-height: 1.5;
	border-bottom: 3px solid;
    background: transparent;
	display: inline-block;
	margin: 0 10px 10px 0;
	outline: none;
	text-decoration: none;
	transition: all ease .4s;
    text-align: left;
}

.section.alt .btn,
.section.started .btn{
    color: #fff;
}

.btn.btn-feat::before {
	content: '\2192';
	display: inline-block;
    left: -30px;
    position: absolute;
}

.btn.btn-sm{
    color: #BBBBBB;
    font-size: 14px;
}

/*
.btn:hover {
	background: rgba(0,0,0,.7);
	color: #fff;
}


.btn-dark:hover{
	background: #028777;
}
*/

.btn-light{
    color: #fff !important;
}

.btn-red{
    color: #D0011B !important;
}

.btn-link{
	background: transparent;
	color: #333;
}

.defi .btn, .defi-accepted .btn, .learning .btn{
    display: block;
}

.defi .btn-feat{
    margin-bottom: 30px;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}



#section-2 ::-webkit-input-placeholder {
   color: #eee;
}

#section-2 :-moz-placeholder { /* Firefox 18- */
   color: #eee;  
}

#section-2 ::-moz-placeholder {  /* Firefox 19+ */
   color: #eee;  
}

#section-2 :-ms-input-placeholder {  
   color: #eee;  
}


.openabout{
	text-align: center;
	display: block;
	margin-bottom: 14px;
	cursor: pointer;
}


.credit{
	text-align: center;
	padding: 40px 0;
	font-size: 20px;
	text-decoration: underline;
	font-weight: 500;
	position: absolute;
	bottom: 0;
	width: 100%;
	cursor: pointer;
}
	
	
